<div class="main">
  <div class="content">
     <img src="../assets/favicon.jpg" alt="" width="200" height="200">
     <h1><span>K</span>eyshell <p>Welcome you all to the world of technology</p></h1>
     <h2><span>K</span>eyshell <p>Keyshell IT solutions. Provides Training for Redhat Linux, Aws ,Python ,PHP, DevOps tools ,MEA(R)N stack ,Datascience ,PHP, Asp.
     <div class="author">
      <p>Developed in Angular</p>
      <p style="margin-top:5px">@Copyrights<span>&nbsp; Keyshell</span></p></p></h2>

    
    

     </div>
  </div>
  
</div>
